<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
  <h1>测试页面</h1>
  <img src="/static/images/dog.jpg" alt="">
</body>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function () {
        $('h1').on('click',function () {
            alert('1')
        })
    })
</script>
</html>